body{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #ffffff00;
  }
  
  .card{
    height: 300px;
    width: 240px;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
  }
  
  .front,
  .back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Google sans', normal;
    border-radius: 10px;
    position: absolute;
  }
  
  .front{
    background-image: url("https://lh3.googleusercontent.com/chat_attachment/AP1Ws4vL4aGo7TTpA-vChCrDy-OVKpcHZJbuLdQfyMKTc3Y0m8B3ji6QiJXfWd131jNibg1qdERYBmG-izqByNqRkx-D_YNGtPk-YOWHPONlOLRzYTrf6ky-huOC2s-6FfP4YKkdXMmRU3EFBEjOtGj89Ei4MZoC3Yqwa6QnAyF7w6OFY7IUCwpVRw5cyP_ulEoJn08-NjEdjBrmHcZonNBW_ooF-NzYjWBzZcfBC9dbaeoyDBqt7EwjFI_fylxQKsmQnw2n0dcf6UJeJv8OLgVacJvXYSiJHKfDojrDljd8mItmVgJY84ppTl5qd7jErF0IUnM=w576-h999");
    z-index: 2;
    backface-visibility: hidden;
    background-size: cover;
  }
  
  .back{
    background: linear-gradient(#FFFFFF, #FFFFFF);
    z-index: 1;
    transform: rotateY(180deg);
  }
  
  .container:hover .card{
    transform: rotateY(180deg);
  }
  
  .container{
    perspective: 1000px;
  }
