.flip-card {
    perspective: 1000px; /* Distanza di visione per l'effetto 3D */
  }
  
  .flip-card-inner {
    position: relative;
    width: 300px; /* Larghezza della flipcard */
    height: 200px; /* Altezza della flipcard */
    text-align: center;
    transform-style: preserve-3d;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    z-index: 2; /* Posiziona il fronte sopra il retro */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Ruota la carta di 180 gradi al passaggio del mouse */
  }