.flip-card {
  perspective: 500px; /* Distanza di visione per l'effetto 3D */
  position: relative;
  width: 100px; /* Larghezza della flipcard */
  height: 50px; /* Altezza della flipcard */
  margin: 20px auto;
}

.flip-card-inner {
  position: relative;
  width: 50%;
  height: 50%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out; /* Durata e animazione del flip */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 50%;
  height: 50%;
  backface-visibility: hidden;
  text-align: center;
  line-height: 100px; /* Centra verticalmente il testo */
}

.flip-card-front {
  z-index: 2; /* Posiziona il fronte sopra il retro */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(90deg); /* Ruota la carta di 90 gradi a destra al passaggio del mouse */
}