body{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #ffffff00;
  }
  
  .card{
    height: 300px;
    width: 240px;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
  }
  
  .front,
  .back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Google sans', normal;
    border-radius: 10px;
    position: absolute;
  }
  
  .front{
    background-image: url("https://lh3.googleusercontent.com/chat_attachment/AP1Ws4v7Nz0T0XYVCZHligZQH_4cp12d3O6rg9wdRmN724w9yg1xbY-5SX117gA7PGuOHd_urfgwcHmas3rKkhMDDyz2RfuVySW4DZWDTSjXXRdPTUDvOdw2Zdss8W79wIwNUz4zJafI_nUaKRKRP4oddw16d-HhWXCTW3j9PtZK6uqAzNYo48T3qHl9qXgBi_rBHKrlzTabSDmKVFrFXFdTv1Pq7dTw88Y7Zo1TexVefsbHiqfvsdRbP00fl7E70kYzIpXLIUKdXAAoYV5tk0MDlUciuthZFdps7Ix6_qZdrkjWxBAXkGqe38iueJYVN19BHg0=w576-h999");
    z-index: 2;
    backface-visibility: hidden;
    background-size: cover;
  }
  
  .back{
    background: linear-gradient(#FFFFFF, #FFFFFF);
    z-index: 1;
    transform: rotateY(180deg);
  }
  
  .container:hover .card{
    transform: rotateY(180deg);
  }
  
  .container{
    perspective: 1000px;
  }