body{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #ffffff00;
  }
  
  .card{
    height: 300px;
    width: 240px;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
  }
  
  .front,
  .back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Google sans', normal;
    border-radius: 10px;
    position: absolute;
  }
  
  .front{
    background-image: url("https://lh3.googleusercontent.com/chat_attachment/AP1Ws4sVk-nO4mq3VIKxiElNiEjdoq_-lqQuggk1bEtpRUIIeefRhr5ltvHOiI_XOsGpPiTFA2C6PN6myfR87v_wss6erJ2sPRa0qS1zywB23Vezw-ZSsBz37v8J-sShOEqeJ-TKJbMCpY310h2zsYtSO_LI-culcqG-hHuSBOnjRqv7zWhTEHb9hBhATNHkLuOg7ZO2rexKmhIxX_j3t-uXCNmkHWMUQH2Ab--ePpQAd_yaAmUNmito4Xk7QtFak5jd8ZZelLHbqskTjg80Iv9GflnXIsRU44UqO_6PKWvUN8FggBGHFccrr2W-OGVBVaw4IhA=w512");
    backface-visibility: hidden;
    background-size: cover;
  }
  
  .back{
    background: linear-gradient(#FFFFFF, #FFFFFF);
    z-index: 1;
    transform: rotateY(180deg);
  }
  
  .container:hover .card{
    transform: rotateY(180deg);
  }
  
  .container{
    perspective: 1000px;
  }
