body{
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #ffffff00;
  }
  
  .card{
    height: 300px;
    width: 240px;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
  }
  
  .front,
  .back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Google sans', normal;
    border-radius: 10px;
    position: absolute;
  }
  
  .front{
    background-image: url("https://lh3.googleusercontent.com/chat_attachment/AP1Ws4t9gtrWaIKpLynfYSv8K-fRMV9fexpAyQk8dxAmugqEtVtIoJhKIfxQjy2ZcR2HVgbaZ-ASNhrLjd375CNyKKFD9W9IEn6bqiuJy7NDv97yVp15pMthoy1grQtIKs4DIuw6mjOiO9Dtvnj1RnxGCP_afOZOHCYEA778OuP9-QuemUrALmSC5cM9wJs-CjyVqmepPIEnir1xCdISwSjLNvJtDJ7fQBLm3Ozy4ZZz6RXMYUhhXguKECYnZhNTONx_AcZt73l3nB7Q_tXuTHUjXwswCzlOqUkQHhwvzUeIopZNP6ehihharaEAQhBts1d3784=w576-h999");
    z-index: 2;
    backface-visibility: hidden;
    background-size: cover;
  }
  
  .back{
    background: linear-gradient(#FFFFFF, #FFFFFF);
    z-index: 1;
    transform: rotateY(180deg);
  }
  
  .container:hover .card{
    transform: rotateY(180deg);
  }
  
  .container{
    perspective: 1000px;
  }
